name: Daily Update

on:
  schedule:
    - cron: '35 8 * * *'
  workflow_dispatch:
    branches:
      - main

jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: rm  and mv
      run: |
        rm -rf ./tt.txt
        mv ./tt.txt
     
    - name: Install dependencies
      run: |
        pip install requests

    - name: Run Python script
      run: python tt.py

    - name: Update Results
      run: |
        cd $GITHUB_WORKSPACE/
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "Update results"
        git push
